<?xml version="1.0" encoding="ISO-8859-1"?>

<bugrepository name="mybatis-plus">
	<bug id="1781" opendate="2019-11-07 10:27:17" fixdate="2019-12-06 02:36:08">
		<buginformation>
			<summary>updateBatchById  更新后没有将mybatis的二级缓存清除。</summary>
			<description>### 当前使用版本(必须填写清楚，否则不予处理)    ### 该问题是怎么引起的？**([最新版](https://search.maven.org/search?q=g:com.baomidou%20a:mybatis-*)上已修复的会直接**close**掉)**  v3.1.2  ### 重现步骤  updateBatchById  更新后没有将mybatis的二级缓存清除。  ### 报错信息   </description>
		</buginformation>
		<fixedfiles>
			<file>mybatis-plus-extension/src/main/java/com/baomidou/mybatisplus/extension/service/impl/ServiceImpl.java</file>
			<file>mybatis-plus/src/test/java/com/baomidou/mybatisplus/test/h2/cache/model/CacheModel.java</file>
			<file>mybatis-plus/src/test/java/com/baomidou/mybatisplus/test/h2/cache/service/impl/CacheServiceImpl.java</file>
			<file>mybatis-plus/src/test/java/com/baomidou/mybatisplus/test/h2/cache/service/ICacheService.java</file>
		</fixedfiles>
	</bug>
<bugrepository>
