<?xml version="1.0" encoding="ISO-8859-1"?>

<pullrequests>
	<pullrequest>
		<number>20523</number>
		<title>Jwt Decoder signature algorithm configuration is not used in combination with public-key-file</title>
		<body>fixes #20521</body>
		<to>20521</to>
	</pullrequest>
	<pullrequest>
		<number>13813</number>
		<title>Base unit of metric values is unspecified when using the metrics endpoint</title>
		<body>closes #13791  &lt;!-- Thanks for contributing to Spring Boot. Please provide a brief description of your pull-request and reference any related issue numbers (prefix references with #). --&gt;</body>
		<to>13791</to>
	</pullrequest>
	<pullrequest>
		<number>9763</number>
		<title>made docs for Hibernate naming strategy a little more specific</title>
		<body>closes #3035</body>
		<to>3035</to>
	</pullrequest>
	<pullrequest>
		<number>9740</number>
		<title>added a code example and some explanation to ExitCodeGenerator docs.</title>
		<body>fixes #5038 </body>
		<to>5038</to>
	</pullrequest>
	<pullrequest>
		<number>3794</number>
		<title>Set resource cache period to zero when Devtools is enabled</title>
		<body>resolve #3739  I always set spring.resources.cache-period to zero when I write code and debug the spring web application. It's very useful to set this value to zero. (or -1). </body>
		<to>3739</to>
	</pullrequest>
	<pullrequest>
		<number>2294</number>
		<title>Provide logfile via MvcEndpoint</title>
		<body>closes #2137 </body>
		<to>2137</to>
	</pullrequest>
